env_variables:
  SLACK_INCOMING_WEBHOOK: "/TXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX"
  GITHUB_SECRET: "xxxxxxxxx"
  SLACK_WEBHOOK_URL: "https://hooks.slack.com/services/TXXXXXXXX/BXXXXXXXX/XpXXXXXXXXXXXXXXXXXXXXXX"
  GITHUB_SECRET_TOKEN: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"